<section class="search">
    <h1>Search</h1>

    <form class="search-form" method="GET">
        <input type="text" class="search-name" name="name" placeholder="Search Name..." value="{{name}}">
        <input type="text" class="search-type" name="type" placeholder="Search Type..." value="{{type}}">
        <button type="submit" class="btn-search">Search</button>
    </form>

    <!--If there are matches after search-->
    {{#if electronics}}
    <div class="search-result">

        <div class="search-list">
            {{#each electronics}}
            {{>addElectronic}}
            {{/each}}
            {{else}}
            <!--If there are no matches-->
            <div class="no-match">
                <p>No match was found!</p>
            </div>

        </div>

    </div>
    {{/if}}

</section>